<!DOCTYPE html>
<html>
  <head>
    <title>My Home Page</title>
  </head>
  <h1>My Home Blog</h1>
  <table>
    <tr>
      <td>**************************</td><td>**************************</td>
    </tr>
    <tr>
      <td>Mani</td><td>* Male</td>
    </tr>
    <tr>
      <td>Haritha</td><td>* Female</td>
    </tr>
    <tr>
      <td>Vidhu</td><td><%= link_to 'About', about_path %></td>
    </tr>
    <tr>
      <td>Aadhu</td><td>* Female</td>
    </tr>
    <tr>
      <td>**************************</td><td>**************************</td>
    </tr>
  </table>
  <%= link_to 'About', about_path %><p1>-*-</p1><%= link_to 'Index', index_path %>
</html>